



.bg-image{
    background-image: url("https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523");
    background-repeat: no-repeat;
    height: 900px;
    width: 400px;
    background-size: cover;

}

.head{
    color: white;
    font-family:"Roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 45px;
}

.para1{
    color: white;
    font-family:"Roboto", sans-serif;
    font-size:large;
    text-align: center;
    margin-top: 70px;
}

.para2{
    color: white;
    font-family:"roboto", sans-serif;
    font-size: large;
    font-weight: 550;
    margin-top: 20px;
    padding-left: 2px;
}

.para3{
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 10px ;
}

.para4{
    color: white;
    font-family: "roboto", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}

.button{
    font-family: "roboto", sans-serif;
    background-color:#FFA61D;
    font-weight: 600;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-color: black;
    border-width: 1px;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    width: 80px;
}